<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.guardianproject.ripple">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="info.guardianproject.panic.action.CONNECT" />
                <action android:name="info.guardianproject.panic.action.DISCONNECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PanicActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.guardianproject.ripple.MainActivity" />
        </activity>
        <activity
            android:name=".CountDownActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".TestActivity"
            android:launchMode="singleTask"
            android:theme="@style/TestOverlay" />
        <activity
            android:name=".ExitActivity"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/app_name" />
    </application>

</manifest>
